*{
    background-color: rgb(167, 167, 167);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}
@media screen and (max-width:320px) {
    .container{
        flex-direction: column;
    }
}